
    /*   color: #152e31; vert */
/* color: #112632; bleu 
         #6664de; violet 
    palevioletred; rose magnifique 
    */

nav{
    background-color:white;
}

.container-auth {
    background: linear-gradient(to bottom, #152e31 0%, #112632 100%);
    width: 100%;
    height: 100%;
    margin: 0;
    height: 85vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    margin:20px;
}

.container {
    width: 100% !important;
    min-width: 100vw;
    margin: 0 auto ;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container-auth h1{
    color:white;
    font-size:23px;
}

    .container-auth input {
    width: 500px;
    margin:10px 0;
    background-color: rgb(191, 191, 191, 0,60) ;
}

.container-auth .div-btn {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
}


.container-auth .div-btn a{
   color:white;
   text-decoration:none;
   border:0.2px solid white;
   border-radius: 5px;
   padding : 6px 8px;
}