.page-devis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.page-devis .div-devis {
    flex: 80%;
    margin: -16px 12px;
    display: flex;
    justify-content: center;
}


.div-devis2{
    width:800px;
    min-height:1000px;
    margin:20px auto;
    border : 0.2px solid gray;
    padding:40px;
}

    .div-devis2 h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 22px;
        font-weight: 500;
        border-bottom: 3px solid #152e31;
        color: #152e31;
        /*        padding: 15px;
*/
    }

.div-container-auteur-client {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.div-auteur, .div-client{
    padding: 15px 0;
    flex:50%;
    margin:20px 0;
}

    .div-auteur img{
        height:80px;
        width:auto;
        margin-bottom : 15px;
    }

.div-client {
    border: 0.1px solid grey;
    border-radius: 8px;
    padding: 15px ;
    text-align:right;
}

.div-auteur p, .div-client p{
    line-height:12px;
}
.div-container-devis {
    width: 100%;
    margin: 20px auto;
    padding: 15px 0;
}

    .div-container-devis table {
        width: 100%;
        margin: 20px 0;
    }

        .div-container-devis table thead tr,
        .div-container-devis table tbody tr {
            width: 100%;
        }

        .div-container-devis table thead {
            background-color: #152e31;
          
            color: white
        }

        .div-container-devis table tbody tr {
            border: 0.3px solid grey;
            border-top: none;
            padding: 8px 0;
        }

        .div-container-devis table tbody td {
            border-right: 0.3px solid grey;
        }

th, td {
    padding: 8px 0;
    text-align:center;
}

.div-prix-parent {
    position: relative;
}

.div-prix-total {
    position: absolute;
    right: 0;
}

.div-informations-suppementaires{
    margin-top : 100px;
}