.page-formCreationDevis {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

        .page-formCreationDevis form input {
            padding: 5px 2px;
            margin: 5px 0;
            height: 43px !important;
        }


    .page-formCreationDevis form button[type="button"],
    .page-formCreationDevis form button[type="submit"] {
      
        font-size: 17px;
        height: 43px !important;
        margin: 15px auto;
        display: block;
    }


    /**************************/
.div-ajouter-un-produit {
    display: flex;
    flex-direction: row;
    width: 70vw;
    align-items: center;
    justify-content:center;
}

.div-ajouter-un-produit input {
    flex:24%;
    margin : 6px;
}

.div-ajouter-un-produit * {
     height: 43px !important;
     margin: 6px 0;
}


/*-------------------------------------*/

.div-choisir-ou-saisir {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
}

.div-choisir, .div-saisir {
    margin: 20px;
    padding: 20px;
    width: 550px;
}

.div-choisir-ou-saisir h1{
    font-size: 24px;
    margin : 15px 0;
    text-align:center;
}



.div-saisir label input {
    min-width: 500px;
}


.div-saisir table{
    width:100%
}