.page-liste-devis {
    width: 100%;
}

.div-search- {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(to bottom, #152e31 0%, #112632 100%);
  
    color:white;
}
    .div-search- input, 
    .div-search- button  {
        margin: 15px;
        max-height: 50px;
        height: 40px;
        width: auto;
    }

.page-liste-devis h1 {
    font-size: 22px;
    font-family: Tahoma;
    font-weight: 200;
    margin: 25px 0;
    
}

    .page-liste-devis table {
        width: 100%;
    }
        .page-liste-devis table thead tr,
        .page-liste-devis table tbody tr {
            width: 100%;
            max-height: 40px !important;
        }

        .page-liste-devis table thead {
            background-color: whitesmoke;
        }

        .page-liste-devis table tbody tr {
            border-bottom: 0.3px solid grey;
            padding: 8px 0;
        }
   th, td{
       padding:8px 0;
       max-height:40px;
   }

.div-commencer-createdevis-show {
    position: absolute;
    width: 700px;
    height: auto;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1;
    font-family: "ProximaNova-Regular", sans-serif;
    font-weight: 100;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px #283527;
    border-radius: 9px;
    padding: 50px;
    text-align: center;
    z-index: 2;
}
