.page-liste-devis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

    .page-liste-devis .div-liste-devis {
        flex: 80%;
        margin: -16px 12px;
        padding : 50px;
    }




.div-liste-devis h1 {
   font-size:22px;
   font-family:Tahoma;
   font-weight:200;
   margin:25px 0;
   
}

    .div-liste-devis table  {
        width: 100%;
    }
        .div-liste-devis table thead tr,
        .div-liste-devis table tbody tr {
            width: 100%;
            max-height: 40px !important;
        }

    .div-liste-devis table thead {
        background-color:whitesmoke;
    }

        .div-liste-devis table tbody tr {
            border-bottom: 0.3px solid grey;
            padding: 8px 0;
        }
   th, td{
       padding:8px 0;
       max-height:40px;
   }