
    /*   color: #152e31; vert */
    /* color: #112632; bleu */
*{
   padding:0;
   margin:0; 

}

.container {
    width: 100vw !important;
    min-width: 100vw;
    margin: 0 !important;
    display:flex;
    justify-content:flex-start;
}


.div-barre-verticale {
    background-color: #152e31;
    color: white;
    margin: -16px -12px;
    min-height: 100vh !important;
    height:100%;
    flex: 20%;
    min-width: 250px;
  
}

.div-barre-verticale a{
    display: block;
    color:white;
    font-size:15.5px;
    padding : 20px;
    text-decoration:none;

}