.stepper-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 800px;
    border: 1px solid gray;
}

.stepper-wrapper a{
    text-decoration:none;
    color:black;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item button {
    background-color :transparent;
    border:none;
    padding :15px;
}


.stepper-item.active {
    font-weight: bold;
    color:white;
}

    .stepper-item.completed {
        background-color: #152e31;
    }
    .stepper-item.completed div{
        color: white;
    }
